.love-oracle__1{
  left: 10em;
  top: 13em;
}

.love-oracle__2{
  left: 18em;
  top: 6em;
}

.love-oracle__3{
  left: 26em;
  top: 13em;
}

.love-oracle__4{
  left: 18em;
  top: 20em;
}

.love-oracle{
  left: 0vw;
}

@media (max-width: 1669px){
  .love-oracle{
    left: -7vw;
  }
}

@media(max-width: 1423px){
  .love-oracle{
    left: -19vw;
  }
}

@media(max-width: 1280px){
  .love-oracle{
    left: -24vw;
  }
}

@media(max-width: 1152px){
  .love-oracle{
    left: -30vw;
  }
}

@media(max-width: 1024px){
  .love-oracle{
    left: -38vw;
  }
}

@media(max-width: 930px){
  .love-oracle{
    left: -49vw;
    top: -6em;
  }
}

@media(max-width: 768px){
  .love-oracle{
    left: -70vw;
  }
}

@media(max-width: 720px){
  .love-oracle{
    left: -75vw;
  }
}

@media(max-width: 640px){
  .love-oracle{
    left: -89vw;
  }
}

@media(max-width: 594px){
  .love-oracle{
    left: -96vw;
  }
}

@media(max-width: 538px){
  .love-oracle{
    left: -106vw;
  }
}

@media(max-width: 496px){
  .love-oracle{
    left: -23vw;
    top: -8em;
  }
}

@media(max-width: 406px){
  .love-oracle{
    left: -23vw;
    top: -8em;
  }

  .love-oracle__1{
    left: 12em;
    top: 13em;
  }

  .love-oracle__2{
    left: 17em;
    top: 10em;
  }

  .love-oracle__3{
    left: 22em;
    top: 13em;
  }

  .love-oracle__4{
    left: 17em;
    top: 16em;
  }
}

@media(max-width: 360px){
  .love-oracle{
    left: -28vw;
    top: -8em;
  }
}

@media(max-width: 360px){
  .love-oracle{
    left: -28vw;
    top: -8em;
  }
}

