@import "mixins.scss";

*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  @include navFont();
}

select{
  @include navFont();
  color: black;
  border-radius: 13px;
}

option{
  @include navFont();
  color: black;
}
