@import "mixins.scss";

.greetings-menu{
  display: none;
  position: absolute;
  left: 10vw;
  width: 91.4em;
  height: 37.2em;
  background-image: url('../assets/IMG/greetings-menu.png');
  background-size: cover;
  z-index: 2;
}

.greetings{
  position: absolute;
  left: 24.5em;
  top: 10em;
 }

.greetings-text{
  position: relative;
  @include navFont();
  color: #000000;
  width: 680px;
  height: 190px;
}

.ok-button{
  position: relative;
  top: 2em;
  left: 40%;
  box-sizing: border-box;
  background: #C1BDA1;
  border: 2px solid #7B7654;
  width: 130px;
  height: 47px;
  border-radius: 3em;
  
}

.ok-button:hover{
  cursor: pointer;
  background: green;
}

.ok{
  position: relative;
  @include navFont();
  font-size: 2em;
  color: #000000;
}