@import "variables.scss";
@import "mixins.scss";

.results{
  position: relative;
  background-image: url('../assets/IMG/parchment_edited.png');
  background-size: cover;
}


.results-wrapper{
  display: flex;
  font-family: $main-font;
  position: relative;
  left: 3em;
  width: 75em;
  padding-top: 3em;
}

.arcane-name{
  font-family: $main-font;
  font-size: 2.3em;
  text-align: center;
  font-weight: 700;
}

.result-text{
  position: relative;
  top: 2.6em;
  left: 3em;
  height: 631px;
}

.arcane-meaning{
  font-weight: 700;
  font-size: 37px;
}

.arcane-description{
  font-size: 24px;
  text-align: justify;
  width: 800px;
  padding-bottom: 3em;
}

.in-life-paragraphs{
  position: relative;
  top: 3em;
}

.in-life{
  @include inlife();
}

@media (max-width: 1296px){
  .arcane-description{
    width: auto;
  }

  .results-wrapper{
    width: 60em;
  }
}

@media (max-width: 1064px){
  .arcane-image-img{
    width: 300px;
    height: 500px;
  }

  .arcane-meaning{
    font-size: 1.625em;
  }

  .arcane-description{
    font-size: 1.375em;
    width: 25em;
  }

  .in-life-paragraphs{
    top: 1em;
  }

  .results-wrapper {
    width: 40em;
  }
}

@media (max-width: 952px){
  .results-wrapper{
    left: 1em;
  }

  .result-text{
    left: 1.5em;
  }
}

@media (max-width: 894px){
  .arcane-description{
    font-size: 1.1em;
  }
}

@media (max-width: 782px){
  .arcane-meaning{
    font-size: 1.375em;
  }

  .arcane-description {
    font-size: 1em;
  }

  .result-text{
    height: auto;
  }
}

@media (max-width: 744px){
  .result-text{
    top: 1.6em;
  }

  .arcane-name{
    font-size: 1.5em;
  }

  .arcane-image-img{
    width: 200px;
    height: 334px;
  }

  .in-life{
    font-size: 1em;
  }

  .in-life-paragraphs{
    top: 0em;
  }

  .arcane-description{
    padding-bottom: 1em;
  }

  .results-wrapper{
    padding-bottom: 1em;
  }
}

@media (max-width: 682px){
  .results-wrapper {
    width: 35em;
  }

  .result-text{
    width: auto;
  }
}

@media (max-width: 640px){
  .results-wrapper {
    width: 25em;
  }

  .arcane-description{
    width: 20em;
  }

  .in-life-paragraphs p{
    padding-bottom: 0.5em;
  }
}
