.celtic-cross{
  position: absolute;
  left: 8vw;
}

.celtic-cross div{
  height: 4.4em;
}

.celtic-cross__1{
  left: 8em;
  top: 14em;
}

.celtic-cross__2{
  left: 8em;
  top: 14em;
  transform: rotate(0.75turn);
}

.celtic-cross__3{
  left: 8em;
  top: 6em;
}

.celtic-cross__4{
  left: 8em;
  top: 22em;
}

.celtic-cross__5{
  left: 1em;
  top: 14em;
}

.celtic-cross__6{
  left: 15.5em;
  top: 14em;
}

.celtic-cross__7{
  left: 21.5em;
  top: 21.6em;
}

.celtic-cross__8{
  left: 21.5em;
  top: 14em;
}

.celtic-cross__9{
  left: 21.5em;
  top: 7em;
}

.celtic-cross__10{
  left: 21.5em;
  top: 0em;
}

@media (max-width: 1680px){
  .celtic-cross{
    position: absolute;
    left: 5.7em;
  }
}

@media(max-width: 1600px){
  .celtic-cross{
    position: absolute;
    left: 1vw;
  }
}

@media (max-width: 1423px){
  .celtic-cross{
    position: absolute;
    left: -7em;
  }
}

@media (max-width: 1278px){
  .celtic-cross{
    position: absolute;
    left: -10em;
  }
}

@media (max-width: 1114px){
  .celtic-cross{
    position: absolute;
    left: -13em;
  }
}

@media (max-width: 1017px){
  .celtic-cross{
    position: absolute;
    left: -17em;
  }
}

@media (max-width: 930px){
  .celtic-cross{
    left: -21em;
  }
}

@media (max-width: 688px){
  .celtic-cross{
    left: -23em;
    top: -5em;
  }
}

@media (max-width: 672px){
  .celtic-cross{
    left: -27em;
    top: -5em;
  }
}

@media (max-width: 594px){
  .celtic-cross{
    left: -25em;
    top: -5em;
  }
}

@media (max-width: 496px){
  .celtic-cross{
    left: 3em;
    top: -8em;
  }
}

@media (max-width: 438px){
  .celtic-cross{
    left: 0.1em;
  }
}

@media (max-width: 406px){
  .celtic-cross__1{
    left: 11em;
    top: 15em;
  }

  .celtic-cross__2{
    left: 11em;
    top: 15em;
  }

  .celtic-cross__3{
    left: 11em;
    top: 10em;
  }

  .celtic-cross__4{
    left: 11em;
    top: 20em;
  }

  .celtic-cross__5{
    left: 6em;
    top: 15em;
  }

  .celtic-cross__6{
    left: 15.5em;
    top: 15em;
  }

  .celtic-cross__7{
    left: 18.5em;
    top: 20em;
  }

  .celtic-cross__8{
    left: 18.5em;
    top: 15em;
  }

  .celtic-cross__9{
    left: 18.5em;
    top: 10em;
  }

  .celtic-cross__10{
    left: 18.5em;
    top: 6em;
  }
}