.cross div{
  height: 4.4em;
  position: absolute;
}

.cross{
  left: 4em;
}

.cross__1{
  top: 11em;
  left: 8em;
}

.cross__2{
  top: 11em;
  left: 21em;
}

.cross__3{
  top: 5em;
  left: 14.5em;
}

.cross__4{
  top: 15em;
  left: 14.5em;
}